
.widget-container {
  border-top: 1px solid var(--bs-primary) !important;
  border-left: 1px solid var(--bs-primary) !important;
}

.widget-box {
  min-height: 100px !important;
}

.app-widget {
  min-height: 200px !important;
  max-height: 300px !important;
  height: 100% !important;
  color: var(--bs-body-color);
  font-family: "Space Grotesk", monospace !important;
  border-right: 1px solid var(--bs-primary) !important;
  border-bottom: 1px solid var(--bs-primary) !important;
}

.app-widget .card-header {
  padding: 0.5rem;
  border-bottom: 1px solid var(--bs-primary) !important;
}

.app-widget > .app-header > h1,
.app-widget > .app-header > h2,
.app-widget > .app-header > h3,
.app-widget > .app-header > h4,
.app-widget > .app-header > h5,
.app-widget > .app-header > h6 {
  margin: 0 !important;
}

.app-widget .card-body {
  overflow-y: auto !important;
  padding: 0.5rem;
  border-bottom: 0px;
}

.app-widget .card-footer {
  color: var(--bs-body-color) !important;
  padding: 0.5rem;
}
